<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/views/styles.css" />
    <script src="/views/main.js"></script>
  </head>
  <body>
    
      <h1><a href="/">사용자 테이블</a></h1>
      <form action="/search" id="search">
        <input id="search" type="text" name="name"  placeholder="사용자 이름 검색" />
        <button type="submit">Search</button>
      </form>
    
    <table>
        <tr class="header">
          {% for el in header %}
          <th>{{ el }}</th>
          {% endfor %}
        </tr>
      {% for row in data %}
      <!-- <a href="/user/{{row.Id}}"> -->
      <tr id="rowNum">
        {% for el in header %}
        <td>
          <a href="/user/{{row.Id}}">
            {{ row[el] }}
          </a>
          </td>
          {% endfor %}
        </tr>
      <!-- </a> -->
      {% endfor %}
    </table>
    <div class="pagination">
     
      {% if page != +1 %}<a href="/?page={{ page-1 }}">Pred</a>{% endif %}
      {% if page != +1 %}<a href="/?page={{ page-2 }}"> {{ page-2 }} </a>{% endif %}
      {% if page != +1 %}<a href="/?page={{ page-1 }}"> {{ page-1 }} </a>{% endif %}
      <!-- <a href="/?page={{ page-2 }}">{{ page-2 }}</a>
      <a href="/?page={{ page-1 }}">{{ page-1 }}</a> -->
      <a href="/?page={{ page }}" {% if page %} class="active" {% endif %} >{{ page }}</a>
      <a href="/?page={{ page+1 }}">{{ page+1 }}</a>
      <a href="/?page={{ page+2 }}">{{ page+2 }}</a>
      {% if page != +totalPage %} <a href="/?page={{ page+1 }}">Next</a>{% endif %}
    </div>
    <!-- <div class="pagination">
      <a href="/?page={{ page-1 }}">Pred</a>
      {% for num in range(1, totalPages+1) %}
      <a href="/?page={{num}}" {% if num == page %} class="active" {% endif %} >{{ num }}</a>
      {% endfor %}
      <a href="/?page={{ page+1 }}">Next</a>
    </div> -->
  </body>
</html>
