a{
  color: #000;
  text-decoration: none;
}

a:hover{
  color: #000;
  text-decoration: underline;
}
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  align-items: center;
}
table {
  padding-top: 20px;
  width: 70%;
}
.header {
  background-color: #a8a8a8;
}

th,td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #000;
}

td:first-child {
  text-align: left;
}

.pagination {

  margin-top: 20px;
}
.pagination a{
  text-align: center;
  width: 10px;
  height: 10px;
  font-size: 20px;
  margin: 0 2px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
}

.active {
  background-color: #41ab77;
}

.pagination a:hover{
  background-color: #41ab77;
}

#rowNum:hover{
  background-color: #41ab77;
}