<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웰컴</title>
</head>
<body>
  <% if (isAdmin) { %>
    <h1>안녕하세요, 관리자님</h1>
  <% } else { %>
    <h1>안녕하세요, 사용자님</h1>
  <% } %>
</body>
</html>